body {
  font-family: 'Montserrat', sans-serif;
}

p {
  text-align: left;
  margin-bottom: 30px
}

h1 {
  position: relative;
  font-size: 5rem;
  line-height: 4rem;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  color: black;
  font-weight: 900;
}

h2 {
  position: relative;
  font-size: 3rem;
  line-height: 4rem;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-weight: 900;
}

h3 {
  text-align: center;
  line-height: 3rem
}

h4 {
  font-size: 0.95rem;
  line-height: 0.8rem;
}

h5 {
  text-align: center;
  font-weight: bold;
}

nav {
  position: relative;
}

footer {
  text-align: center;
}

.container-fluid {
  padding: 5% 15%;
}

.container {
  border-radius: 5px;
  padding: 5% 3%;
}

.dark-section {
  background-color: #000;
  color: #FFF;
}

.light-section {
  background-color: #FFF;
  color: #000;
}

/* Navbar */
.navbar {
  padding: 0 0 4.5rem 0;
}

/* Title Section */
.title {
  position: relative;
  background-color: #000;
  color: #FFF;
}

.title .container-fluid {
  padding: 3% 20% 10%;
}

.title-image {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%);
}

/* solo section */
.center-text {
  text-align: center;
}

/*Basic Vinyl Style*/
.album {
  margin: 0 auto 10px;
  box-shadow: 0 7px 10px #aaa;
}

.album,
.album .cover,
.album .vinyl,
.album img {
  width: 300px;
  height: 300px;
}

.album>div,
.album .vinyl>div {
  position: absolute;
}

.album .cover {
  z-index: 2;
}

.album .vinyl {
  background-color: #202020;
  z-index: 1;
  transition: all 0.3s ease;
}

.album .vinyl .label {
  background-color: #000;
  width: 40%;
  height: 40%;
  left: 30%;
  top: 30%;
}

.album .vinyl .hole {
  background-color: #FFF;
  width: 5%;
  height: 5%;
  margin: 45% auto 0 auto;
}

.album .textCon {
  margin-top: 10px;
  color: #eee;
  text-align: center;
  margin: 5px 0;
}

/*Vinyl Style*/
.albumVinyl .round {
  border-radius: 100%;
}

.albumVinyl .vinyl {
  transform: translate(50px, 0) rotate(-180deg);
}

.albumVinyl .vinyl:hover,
.albumVinyl .cover:hover+.vinyl {
  transform: translate(300px, 0) rotate(0deg);
}

/* Kloothommel */
.player {
  display: block;
  margin: auto;
  padding: 3rem;
}

.kloothommel-album {
  width: 300px;
  display: block;
  margin: auto;
}

@media (max-width: 600px) {
  .title .container-fluid {
    padding: 3% 3% 10%;
  }

  .albumVinyl .vinyl {
    transform: none;
  }

  .albumVinyl .vinyl:hover,
  .albumVinyl .cover:hover+.vinyl {
    transform: none;
  }

  .title-heading {
    font-size: 4rem;
    text-align: center;
  }

  .subtitle-heading {
    text-align: center;
  }

  .container {
    border-radius: 0;
  }
}
